.Button {
  border: none;
  outline: none;
  width: 25%;
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: #603bbb;
  cursor: pointer;
  border-radius: 10px;
}

.Button:hover {
  background-color: rgb(151, 19, 19);
}
