.Login {
  max-width: 25%;
  margin: auto;
  display: flex;
  flex-direction: column;
  border: 3px solid green;
  padding: 10px;
}

.SignupButton {
  margin-left: 10px;
  background-color: blueviolet;
}
