.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: grey;
}

.AppHeader {
  color: #111;
  background: #603bbb;
  padding: 20px 40px;
  font-family: "Helvetica Neue", sans-serif;
  /* font-size: 275px; */
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  border-radius: 5px;
}
