.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: grey;
}

/* .JumboTron {
  background: radial-gradient(
    ellipse at left bottom,
    rgb(21, 106, 204) 0%,
    rgba(2, 0, 5, 0.9) 59%,
    rgba(0, 0, 0, 0.9) 100%
  );
} */

.AppHeader {
  color: #111;
  background: #603bbb;
  padding: 20px 40px;
  font-family: "Helvetica Neue", sans-serif;
  /* font-size: 275px; */
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  border-radius: 5px;
}
